






<div class="row">
<% if @posts.any? %>
    <% @posts.reverse.each do |post| %>
  <div class="medium-3 columns"><%= link_to (image_tag post.image.url(:thumb)), post_path(post), id: "img-#{post.id}" %>
        <h2><%= link_to "#{post.title}", post_path(post) %></h2>
        <div><%= link_to "Delete Post", post_path(post), method: :delete %></div>
        </div>
             <% end %>
  <% else %>
  <div>No posts yet!</div>
      </div>
  
<% end %>


